body {
    font-family: "Reddit Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

.container {
    width: 80%;
    margin: 0 auto;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img
{
    width: 200px;
    height: 200px;
    border: 2px solid;
    margin-top: 10px;
    transition: opacity 0.5s ease;
}

img.izquierda {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
  }

  img.derecha 
  {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
  }

div.cont
{
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    transition: width 0.5s; 
    display: flex;
    justify-content: center;
}

div.linea
{
    display: flex;
    justify-content: center;        
}

header {
    background: #1d1f70;
    color: #fff;
    padding: 20px 0;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 60px;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

div.p1
{
    margin-left: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    top: 30px;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

nav ul li .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content a:hover {
    background-color: #575757;
}

nav ul li:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.hero {
    background: #f4f4f4;
    padding: 30px 0;
    text-align: center;
    color: #4375d1;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form label {
    margin: 10px 0 5px;
}

.contact form input, .contact form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.subtitle{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    color: white;
}
footer p {
    margin: 0;
}
.servicios{
    margin: 50px;
    padding: 25px;
    background-color: white;
}
@media (max-width: 768px) {
    

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 15px 0;
    }

    nav ul li .dropdown-content {
        position: static;
    }
    
}

